
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuperHive - Login</title>
    <link rel="stylesheet" href="/css/pico.min.css">
    <style>
		article {margin:0 15%;text-align:center;}
		h1{margin-top:1rem;}
	</style>
  </head>

  <body>
    <!-- Main -->
    <main class="container">
      <article>
		<picture>
			<source srcset="/imgs/logo-dark.png" media="(prefers-color-scheme: dark)"/>
			<img src="/imgs/logo-light.png" alt="SuperHive logo"/>
		  </picture>
		<h1>Login</h1>
		<form>
			<input type="text" name="account" id="account" placeholder="Hive account name" aria-label="Login" required>
			<input type="submit" id="signMessage" value="Login with Hive Keychain">
		</form>
		<p id="signEvent"></p>
      </article>
    </main>
    
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
	<script>
	$(function () {
		$('#signMessage').on('click tap', function(event) {
			event.preventDefault();
			message = "SuperHive12345";
			username = $('#account').val();
			if (username.length < 3) {
				$('#signEvent').text('Please enter a real hive account (min 3 letters)');
			} else if (username != "{{ settings.author }}") {
				$('#signEvent').text('Please enter the original installation account');
			} else {
				hive_keychain.requestSignBuffer(
					username,
					message,
					'Active',
					function (response) {
						if (response.error != "null") {
							password = response.result;
							$.post( 
								"{{ url_for('login-post') }}", 
								{ username: username, passwd: password },
								function(data) {
									if (data == 'OK') {
										window.location.href = "{{ url_for('admin') }}";
									}
								}
							);
						} else $('#signEvent').text(response.result);
					},
					null,
					null
				);
			}
		});
	});
	</script>

  </body>
</html>
