#post img {margin: auto;text-align: center;padding: 1% 0;}
#post ul {list-style: square; padding: inherit;}
#post h2 {font-size: 2em; font-weight:600;margin: 1% 2%;}
#post h3 {font-size: 1.7em; font-weight:500;margin: 1% 1%;}
h1,h2,h3,h4,h5,h6 {letter-spacing: -.1rem;margin-bottom: 1.0rem;margin-top: 0;}
h1 {line-height: 1.2;}
h2 {line-height: 1.25;}
h3 {line-height: 1.3;}
h4 {font-size: 2.2rem;letter-spacing: -.08rem;line-height: 1.35;}
h5 {font-size: 1.8rem;letter-spacing: -.05rem;line-height: 1.5;}
h6 {font-size: 1.6rem;letter-spacing: 0;line-height: 1.4;}
a {text-decoration: underline;}
#upvote{ width: 80%}
