#post img {margin: auto;text-align: center;padding: 1% 0;}
#post ul {list-style: square; padding: inherit;}
#post h2 {font-size: 2em; font-weight:600;margin: 1% 2%;}
#post h3 {font-size: 1.7em; font-weight:500;margin: 1% 1%;}
