<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ settings.title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
  <style>
    .column{
      border: 1px solid #CCD;
      margin: 2px;
      border-radius: 10px;
    }
    .warning {color: #A00}
    .center{text-align: center;margin-top: 5px;}
  </style>
</head>

<body>
  <div class="container">
    <h1 class="center">SuperHive administration panel</h1>
    <hr/>
    <form method="post" action="{{ url_for('save') }}">
      <div class="row">
        <div class="column">
          <h2>Global</h2>
          <fieldset>
            <label for="author">Author HIVE name (without @)</label>
            <input type="text" placeholder="Author HIVE name" id="author" name="author" value="{{ settings.author }}">

            <label for="title">Website title</label>
            <input type="text" placeholder="Title" id="title" name="title" value="{{ settings.title }}">

            <label for="baseline">Baseline</label>
            <input type="text" placeholder="Baseline" id="baseline" name="baseline" value="{{ settings.baseline }}">

            <label for="nextbutton">Redirect button text</label>
            <input type="text" placeholder="redirect button text" id="nextbutton" name="nextbutton" value="{{ settings.nextbutton }}">
          </fieldset>
        </div>

        <div class="column">
          <h2>Social</h2>
          <fieldset>
            <label for="socialDesc">Website description (for Facebook and Twitter markup)</label>
            <input type="text" placeholder="Description" id="socialDesc" name="socialDesc" value="{{ settings.social.description }}">

            <label for="socialImage">Link to social Image (for Facebook and Twitter)</label>
            <input type="text" placeholder="Description" id="socialImage" name="socialImage" value="{{ settings.social.image }}">

            <label for="twittername">Twitter account name (without @)</label>
            <input type="text" placeholder="Twitter name" id="twittername" name="twittername" value="{{ settings.social.twittername }}">
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h2>Display</h2>
          <fieldset>
            <label for="theme">Theme</label>
            <select id="theme" name="theme">
              {% for theme in themes %}
                <option value="{{ theme }}" {% if theme == settings.theme %}selected{% endif %}>{{ theme }}</option>
              {% endfor %}
            </select>

            <label class="label" for="crosspost">Display crosspost ?</label>
            Check if you want to display crosspost : <input type="checkbox" id="crosspost" name="crosspost" {% if settings.crosspost == true %}checked{% endif %}>
          </fieldset>
        </div>

        <div class="column">
          <h2>System</h2>
          <p class="warning">Change these settings only if you know what you do !</p>
          <fieldset>
            <label for="api">Hive API link</label>
            <input type="text" placeholder="Description" id="api" name="api" value="{{ settings.api }}">
            <label class="label" for="cron">Enable / Disable Cron</label>
            Check if you want to enable cron : <input type="checkbox" id="cron" name="cron" {% if settings.cron == true %}checked{% endif %}>
          </fieldset>
        </div>
      </div>

      <div class="center">
          <input class="button-primary" type="submit" value="Send">
      </div>

    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/7.0.1/cash.min.js" integrity="sha256-cP4vwprtrs4i6th5S3ysmrRUfhdEyHA5MlBxaOwQ+/s=" crossorigin="anonymous"></script>
</body>
</html>
