{% extends "admin/admin-layout.html" %}

{% block content %}	
<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-100 leading-normal">
	<div class="flex flex-row flex-wrap flex-grow mt-2">
		<div class="w-full">
			<div class="bg-gray-800 border border-gray-800 rounded shadow p-1">
			  <div class="border-b border-gray-800 p-3">
			    <h3 class="font-bold uppercase text-gray-300">Posts</h3>
			  </div>
			  
			  <div class="md:flex md:items-center mb-6">
			  	<div class="w-full text-center">
						<a href="{{ url_for('admin-newpost') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Create new post on Blockchain</a>
					</div>
				</div>
				
				<div class="md:flex md:items-center mb-6">
					<div class="px-5">
						<h3 class="text-2xl">Last posts:</h3>
						<p class="mb-6 text-sm">Click on a title to edit your post</p>
						<div class="mx-6">
						{% if posts %}
						<ul>
						{% for post in posts %}
						{% if post.author == settings.author %}
							<li><a href="{{ url_for('admin-editpost', {post : post.permlink}) }}">{{ post.title }}</a></li>
						{% endif %}
						{% endfor %}
						</ul>
						{% else %}
						No posts found. You can create one by press "Create new post" button
						{% endif %}
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>
{% endblock %}
