{% extends "admin/admin-layout.html" %}

{% block content %}
	<form method="post" action="{{ url_for('admin-save') }}">
		<input type="hidden" name="redirect" id="redirect" value="{{ current_url() }}">
		<div class="grid">
			<article>
				<h5>Global Settings</h5>

				<label for="author">Author</label>
				<input name="author" id="author" type="text" value="{{ settings.author }}">

				<label for="title">Title</label>
				<input name="title" id="title" type="text" value="{{ settings.title }}">

				<label for="baseline">Baseline</label>
				<input name="baseline" id="baseline"  type="text" value="{{ settings.baseline }}">

				<label for="lang">Content Language</label>
				<select name="lang" id="lang">
					{% for language in languages %}<option value="{{ language.code }}" {% if language.code == settings.lang %}selected{% endif %}>{{ language.name }}</option>{% endfor %}
				</select>

				<label for="theme">Theme</label>
				<select name="theme" id="theme">
					{% for theme in themes %}<option value="{{ theme }}" {% if theme == settings.theme %}selected{% endif %}>{{ theme }}</option>{% endfor %}
				</select>

			</article>

			<article>
				<h5>System settings</h5>

				<label for="displayedPosts">Number of displayed post on homepage</label>
				<input name="displayedPosts" id="displayedPosts" type="number" value="{{ settings.displayedPosts }}">

				<hr>

				<p class="contrast">The following settings are for power users ONLY. Change it at your own risk !</p>

				<label for="api">API Endpoint</label>
				<input name="api" id="api" type="text" value="{{ settings.api }}">

				<div>
					<label for="crosspost">
					<input type="checkbox" id="crosspost" name="crosspost" {% if settings.cron == true %}checked{% endif %}>Display crossposting</label>
				</div>

				<div>
					<label for="devMode">
					<input type="checkbox" id="devMode" name="devMode" {% if settings.devMode == true %}checked{% endif %}>Developer mode</label>
				</div>

			</article>
		</div>
		<input type="submit" value ="Save">
	</form>
</div>

{% endblock %}
