{% extends "admin/admin-layout.html" %}

{% block content %}
<h2>Social & Search Engine Optimisations</h2>

<form method="post" action="{{ url_for('admin-save') }}">
	<input type="hidden" name="redirect" id="redirect" value="{{ current_url() }}">
	<div class="grid">
		<article>
			<h3>SEO</h3>

			<label for="socialDesc">Description</label>
			<input name="socialDesc" id="socialDesc" type="text" value="{{ settings.social.description }}">

			<label cfor="socialImage">Image</label>
			<input id="socialImage" name="socialImage" type="text" value="{{ settings.social.image }}">
		</article>

		<article>
			<h3>Social Networks</h3>

			<label for="twitter">Twitter Account (without @)</label>
			<input id="twitter" name="twitter"type="text" value="{{ settings.social.twitter }}">

			<label for="facebook">Facebook Account</label>
			<input id="facebook" name="facebook" type="text" value="{{ settings.social.facebook }}">

			<label for="instagram">Instagram Account (without @)</label>
			<input id="instagram" name="instagram" type="text" value="{{ settings.social.instagram }}">

			<label for="linkedin"> LinkedIn</label>
			<input id="linkedin" name="linkedin" type="text" value="{{ settings.social.linkedin }}">
		</article>

	</div>
	<input type="submit" value ="Save" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">

</form>
</div>
{% endblock %}
