{% extends "admin/admin-layout.html" %}

{% block styles %}
{% endblock %}

{% block content %}
    <h1>Welcome to the {{ settings.title }} panel!</h1>
    {% if settings.author is not same as user.author %}
    <article>
        <p>Hello <strong>{{ user.author|capitalize }}</strong>!</p>
        <p>This is the <strong>{{ settings.title }}</strong> blog. You're not the owner but you can publish on this community blog.</p>
        <a href="{{ url_for('admin-newpost') }}"><button>Write a post</button></a>
    </article>
    {% else %}
    <div class="grid">
        <article>
            <p>Posts:</p>
            <h3>{{ nbPosts }} posts</h3>
            <h3>{{ (account.post_count - nbPosts) }} comments</h3>
            <a href="{{ url_for('admin-newpost') }}"><button>Write a post</button></a>
        </article>
        <article>
            <p>Available balance:</p>
            <h3>{{ account.balance }}</h3>
            <h3>{{ account.hbd_balance }}</h3>
            <a href="{{ url_for('admin-wallet') }}"><button>Wallet</button></a>
        </article>
        <article>
            <p>Savings balance:</p>
            <h3>{{ account.savings_balance }}</h3>
            <h3>{{ account.savings_hbd_balance }}</h3>
            <a href="{{ url_for('admin-wallet') }}"><button>Wallet</button></a>
        </article>   
    </div>
    {% endif %}
    
{% endblock %}

{% block scripts %}
{% endblock %}
