{% extends "admin/admin-layout.html" %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<style media="screen">
	.lightning button{color:black;}
	#actions button {width: 80%;margin: 0 10%;}
	.post {padding: 1%;}
	.upload-area{
		  width: auto;
		  text-align:center;
		  border: 2px dashed;
		  padding: 1%;
		  margin: 1% 20%;
 	 }
	.editor-toolbar > button {width: 30px !important;}
	.options article {
		padding: 3%;
		margin-bottom: 2%;
	}
	#results {
		padding: 2%;
		text-align: center;
		font-weight: bolder;
	}
</style>
{% endblock %}

{% block content %}
<h1>New Post</h1>
<p>Don't forget : this post will be posted on Blockchain and cannot be deleted (but you can edit it)</p>

{% if 'hive-' in settings.author %}
<input id="postAuthor" type="hidden" value="{{ user.author }}">
{% else %}
<input id="postAuthor" type="hidden" value="{{ settings.author }}">
{% endif %}

<section class="grid options">
	<article>
		<h2>
			<label for="postTitle">Title</label>
		</h2>
		<input name="postTitle" id="postTitle" type="text" placeholder="Make a great title for this post :)" {% if postTitle %}value="{{ postTitle }}"{% endif %}>
	</article>

	<article>
		<h2>
			<label for="postTags">Tags</label>
		</h2>
		{% set regex = '/^hive-[0-9]{6}$/' %}
		{% if postTags %}
		<span id="tag1">{{ postTags[0] }}</span>
		<input name="postTags" id="postTags" type="text" placeholder="Find some tags" value="{% for tag in postTags %}{% if loop.index > 1 %}{{ tag }} {% endif %}{% endfor %}">
		{% elseif settings.author matches regex %}
		<span id="tag1">{{ settings.author }}</span>
		<input name="postTags" id="postTags" type="text" placeholder="Find some tags">
		{% else %}
		<input name="postTags" id="postTags" type="text" placeholder="Find some tags">
		{% endif %}
		<small>Tags MUST be separated by spaces</small>
	</article>
</section>

<section>
	<article class="lightning">
		<h2>
			Post
		</h2>
		<div class="upload-area">
			<p><span class="fas fa-images fa-5x"></span></p>
			<p id="uplText">Drag and Drop image here / Click to select image</p>
		</div>
		<input type="file" name="imgupload" id="imgupload" style="display:none"/>
		<article class="post" data-theme="light">
			<textarea id="mde" name="mde">{% if postContent %}{{ postContent }}{% endif %}</textarea>
		</article>
	</article>
</section>


<article>
	<h2>Send</h2>
	<p>If you're okay with your content, just press the button to save the post</p>

	<div id="results"></div>

	{% if postContent %}
	<div id="actions">
		<button id="postUpdate">Update</button>
	</div>
	{% else %}
	<div id="actions">
		<button id="postCreate">Create</button>
	</div>
	{% endif %}
</article>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script src="https://bundle.run/buffer@6.0.3"></script>
<script>
	window.onload = function () {
		if (typeof hive_keychain === 'undefined') {
			$('#actions').html('You don\'t have Hive Keychain please install it for <a target="_blank" href="https://chrome.google.com/webstore/detail/hive-keychain/jcacnejopjdphbnjgfaaobbfafkihpep">Brave/Chrome</a> or <a target="_blank" href="https://addons.mozilla.org/en-GB/firefox/addon/hive-keychain/">Firefox</a>')
		}
	}

	$(function() {
		var easyMDE = new EasyMDE({
			element: $('#mde')[0],
			autofocus: true,
			spellChecker: false
		});

		// Prevent redirect
		$("html").on("drop", function(e) {
			e.preventDefault();
			e.stopPropagation();
		});
		
		$("html").on("dragover", function(e) {
		  e.preventDefault();
		  e.stopPropagation();
		  $("#uplText").text("Drag here");
		});

		// Click to open upload window
			$(".upload-area").click(function(){
		      $("#imgupload").click();
		  });

		// Drag enter
		$('.upload-area').on('dragenter', function (e) {
		    e.stopPropagation();
		    e.preventDefault();
		    $("#uplText").text("Drop");
		});

		// Drag over
		$('.upload-area').on('dragover', function (e) {
		    e.stopPropagation();
		    e.preventDefault();
		    $("#uplText").text("Drop");
		});
		
		function uplData() {
			$("#uplText").text("Verify before image hosting...");
			

			reader = new FileReader();
			reader.readAsBinaryString(image);
			reader.onload = function(e) {
				hive_keychain.requestHandshake(function() {
					account = '{{ settings.author }}';

					// Use Buffer from NodeJS to the browser to create message for Hive Keychain
					Buffer = new Uint32Array();
					data = buffer.Buffer.from(reader.result, 'binary');
					prefix = buffer.Buffer.from('ImageSigningChallenge');
					message = buffer.Buffer.concat([prefix, data]);

					// Sign this with Keychain
					hive_keychain.requestSignBuffer(
						account,
						JSON.stringify(message),
						'Posting',
						function (response) {
							if(response.result != null) {
								fd = new FormData();
								fd.append('file', image);
								url = 'https://images.hive.blog/'+account+'/'+response.result;
								$.ajax({
									url: url,
									data: fd,
									processData: false,
									contentType: false,
									type: 'POST',
									success: function(data){
										$("#uplText").text("Hosting OK ! You can upload another image :)");
										str = '![Legend of '+image.name+']('+data.url+')';
										insertString(easyMDE.codemirror,str);
									}
								});
							}
						},
						null,
						null
					);
				});
			};
		}

		$('.upload-area').on('drop', function (e) {
			e.stopPropagation();
			e.preventDefault();
			file = e.originalEvent.dataTransfer.files;
			image = file[0];
			
			uplData();
		});
		
		$('#imgupload').on('change', function (e) {
			e.stopPropagation();
			e.preventDefault();
			image = $('#imgupload')[0].files[0];
			
			uplData();
		});
		
		// Make the Editor area droppable for image upload to ImageHoster
		easyMDE.codemirror.on("drop", function(instance, event) {
			console.log(event);
			file = event.dataTransfer.files;
			image = file[0];
			
			uplData();
		});

		function insertString(editor,str){
			var selection = editor.getSelection();

		  if(selection.length>0){
		      editor.replaceSelection(str);
		  } else {
		    var doc = editor.getDoc();
		    var cursor = doc.getCursor();

		    var pos = {
		       line: cursor.line,
		       ch: cursor.ch
		    }

		    doc.replaceRange(str, pos);
		  }
		}

		{% if postPermlink %}
    $('#postUpdate').on('click tap', function(event) {
    	event.preventDefault();
		$('#results').html('<progress />');
    	account = $('#postAuthor').val();
			title = $('#postTitle').val();
			slug = "{{ postPermlink }}";
			body = easyMDE.value();
			tags = $('#tag1').text()+" "+$('#postTags').val();
			taglist = tags.split(' ');
			imageLinks = body.match(/!\[[^\]]*\]\((.*?)\s*("(?:.*[^"])")?\s*\)/g);
			if (imageLinks != null) {
				images = [];
				for (var i = 0; i < imageLinks.length; i++) {
					str = imageLinks[i].match(/\(http([^)]+)\)/g);
					images[i] = str[0].slice(1, -1)
				}
			} else images = ["{{ settings.social.image }}"];
			json_metadata = JSON.stringify({ tags: taglist, image: images, app: "SuperHive", format: "markdown" });
			console.log(json_metadata);
			hive_keychain.requestHandshake(function() {
				hive_keychain.requestPost(
					account,
					title,
					body,
					taglist[0],
					'',
					json_metadata,
					slug,
					"", // Comment_options TO DO
					function(response) {
						$('#results').text(response.message);
					}
				);
			});
    });
    {% else %}
    $('#postCreate').on('click tap', function(event) {
    	event.preventDefault();
		$('#results').html('<progress />');
    	account = $('#postAuthor').val();
			title = $('#postTitle').val();
			slug = title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-')+'-'+Math.random().toString(36).substring(2);
			body = easyMDE.value();
			tags = $('#postTags').val();
			taglist = tags.split(' ');
			if (body.match(/!\[[^\]]*\]\((.*?)\s*("(?:.*[^"])")?\s*\)/g) != null) {
				imageLinks = body.match(/!\[[^\]]*\]\((.*?)\s*("(?:.*[^"])")?\s*\)/g);
				images = [];
				for (var i = 0; i < imageLinks.length; i++) {
					str = imageLinks[i].match(/\(http([^)]+)\)/g);
					images[i] = str[0].slice(1, -1)
				}
			} else images = ["{{ settings.social.image }}"];
			json_metadata = JSON.stringify({ tags: taglist, image: images, app: "SuperHive", format: "markdown" });
			hive_keychain.requestHandshake(function() {
				hive_keychain.requestPost(
					account,
					title,
					body,
					taglist[0],
					'',
					json_metadata,
					slug,
					"", // Comment_options TO DO
					function(response) {
						$('#results').text(response.message);
					}
				);
			});
    });
    {% endif %}
	});
</script>
{% endblock %}
