{% extends "admin/admin-layout.html" %}

{% block styles %}
<style>
	#tagPosts { display:none;}
</style>
{% endblock %}

{% block content %}
    <h1>Welcome to your panel!</h1>
    <div class="grid">
        <article>
            <p>Posts:</p>
            <h3>{{ nbPosts }} posts</h3>
            <h3>{{ (account.post_count - nbPosts) }} comments</h3>
            <a href="{{ url_for('admin-newpost') }}"><button>Write a post</button></a>
        </article>
        <article>
            <p>Available balance:</p>
            <h3>{{ account.balance }}</h3>
            <h3>{{ account.hbd_balance }}</h3>
            <a href="{{ url_for('admin-wallet') }}"><button>Wallet</button></a>
        </article>
        <article>
            <p>Savings balance:</p>
            <h3>{{ account.savings_balance }}</h3>
            <h3>{{ account.savings_hbd_balance }}</h3>
            <a href="{{ url_for('admin-wallet') }}"><button>Wallet</button></a>
        </article>
        
    </div>
    
{% endblock %}

{% block scripts %}
<script>
	$(function() {
        $('#devMode').on('change', function() {
            if($(this).prop('checked')) {
                $('#devel').val(1);
            } else {
                $('#devel').val(0);
            }
        });
        $('#crosspost').on('change', function() {
            if($(this).prop('checked')) {
                $('#cross').val(1);
            } else {
                $('#cross').val(0);
            }
        });
        
		if($('#displayTypes option:selected').val() == 'tag') {
			$('#tagPosts').show();
		};
		$( "#displayTypes" ).change(function() {
			if($('#displayTypes option:selected').val() == 'tag') {
				$('#tagPosts').show();
			} else $('#tagPosts').hide();
		});
	});
</script>
{% endblock %}
