<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration dashboard</title>
  <link rel="stylesheet" href="/css/pico.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style>button {width: 100%;margin:1% 0;}</style>
  {% block styles %}
  {% endblock %}
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li>
        <details class="dropdown">
          <summary>Menu</summary>
          <ul>
            <li><a href="{{ url_for('admin') }}"><i class="fas fa-home fa-fw"></i> Dashboard</a></li>
            {% if settings.author is not same as user.author %}
            <li><a href="{{ url_for('admin-newpost') }}"><i class="fas fa-pen fa-fw"></i> New post</a></li>
            {% else %}
            <li><a href="{{ url_for('admin-posts') }}"><i class="fas fa-paste fa-fw"></i> Posts</a></li>
            <li><a href="{{ url_for('admin-pages') }}"><i class="fas fa-file-alt fa-fw"></i> Pages</a></li>
            <li><a href="{{ url_for('admin-wallet') }}"><i class="fas fa-wallet fa-fw"></i> Wallet</a></li>
            <li><a href="{{ url_for('admin-settings') }}"><i class="fas fa-wrench fa-fw"></i> Settings</a></li>
            <li><a href="{{ url_for('admin-themes') }}"><i class="fas fa-paint-brush fa-fw"></i> Themes</a></li>
            {% endif %}
            <li><a href="{{ url_for('admin-logout') }}"><i class="fas fa-times-circle fa-fw"></i> Log out</a></li>
          </ul>
        </details>
      </li>
    </ul>
    <ul>
      <li><a role="button" href="{{ url_for('admin-newpost') }}">New post</a></li>
      <li><a href="{{ url_for('index') }}" class="contrast">View site</a></li>
    </ul>
  </nav>

  <main class="container">
    {% block content %}{% endblock %}
  </main>


<footer class="container">
  <div class="grid">
    <div>
      <h3>About</h3>
      <small>
        SuperHive is the next generation blogging engine based on <a href="https://hive.io">Hive</a>.<br>This work is made with <i class="fas fa-coffee"></i> & <i class="fas fa-heart"></i> by Florent "Bambukah" Kosmala.
      </small>
    </div>
    <div>
      <h3>Social</h3>
      <ul>
        <li><a href="http://peakd.com/@bambukah">Hive</a></li>
        <li><a href="http://twitter.com/FlorentKosmala">Twitter</a></li>
        <li><a href="http://instagram.com/kosflorent/">Instagram</a></li>
        <li><a href="http://linkedin.com/in/florent-kosmala">LinkedIn</a></li>
      </ul>
    </div>

  </div>
</footer>

<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
