{% extends "admin/admin-layout.html" %}

{% block styles %}
<style>
	.center{text-align:center}
</style>
{% endblock %}

{% block content %}
    <h2>Themes</h2>
    
    <div class="grid">
        {% for theme in themes %}
        <article class="center">
            <h3>{{ theme|capitalize }}</h3>
            {% if theme == settings.theme %}
            <p><mark>Selected</mark></p>
            {% else %}
            <a role="button" href="{{url_for('admin-savetheme', {theme: theme}) }}">Select</a>
            {% endif %}
        </article>
        {% endfor %}
    </div>
    
{% endblock %}

{% block scripts %}
{% endblock %}
