{% extends "admin/admin-layout.html" %}

{% block styles %}
<style>
	#tagPosts { display:none;}
</style>
{% endblock %}

{% block content %}
    <h1>Settings</h1>
	<form method="post" action="{{ url_for('admin-save') }}">
		<input type="hidden" name="redirect" id="redirect" value="{{ current_url() }}">
		<div class="grid">
			<article>
				<h2>Global Settings</h2>

				<label for="author">Account</label>
				<input name="author" id="author" type="text" value="{{ settings.author }}">
				
				<label for="displayType-type">What to display ?</label>
				<select name="displayType-type" id="displayType-type">
					<option value="author" {% if settings.displayType.type == "author" %}selected{% endif %}>Author posts only</option>
					<option value="tag" {% if settings.displayType.type == "tag" %}selected{% endif %}>Selected Tag only</option>
					<option value="reblog" {% if settings.displayType.type == "reblog" %}selected{% endif %}>Reblogs only</option>
				</select>
				
				<div id="tagPosts">
					<label for="displayType-tag">Tag (without #)</label>
					<input name="displayType-tag" id="displayType-tag" type="text" value="{{ settings.displayType.tag }}">
				</div>

				<label for="title">Title</label>
				<input name="title" id="title" type="text" value="{{ settings.title }}">

				<label for="baseline">Baseline</label>
				<input name="baseline" id="baseline"  type="text" value="{{ settings.baseline }}">

				<label for="lang">Content Language</label>
				<select name="lang" id="lang">
					{% for language in languages %}<option value="{{ language.code }}" {% if language.code == settings.lang %}selected{% endif %}>{{ language.name }}</option>{% endfor %}
				</select>
			</article>
            
            <article>
                <h2>SEO</h2>

                <label for="social-description">Description</label>
                <input name="social-description" id="social-description" type="text" value="{{ settings.social.description }}">

                <label cfor="social-image">Image</label>
                <input id="social-image" name="social-image" type="text" value="{{ settings.social.image }}">
                
                <hr>
                
                <h2>Social Networks</h2>

                <label for="social-twitter">Twitter Account (without @)</label>
                <input id="social-twitter" name="social-twitter" type="text" value="{{ settings.social.twitter }}">

                <label for="social-facebook">Facebook Account</label>
                <input id="social-facebook" name="social-facebook" type="text" value="{{ settings.social.facebook }}">

                <label for="social-instagram">Instagram Account (without @)</label>
                <input id="social-instagram" name="social-instagram" type="text" value="{{ settings.social.instagram }}">

                <label for="social-linkedin"> LinkedIn</label>
                <input id="social-linkedin" name="social-linkedin" type="text" value="{{ settings.social.linkedin }}">
            </article>
		</div>
        
        <article>
            <h2>Advanced settings</h2>
            <div class="grid">
                <div>
                    <label for="displayedPosts">Number of displayed post on homepage</label>
                    <input name="displayedPosts" id="displayedPosts" type="number" value="{{ settings.displayedPosts }}">
                    
                    <div>
                        <label for="cross">
                        <input type="checkbox" id="cross" name="cross" {% if settings.crosspost == true %}checked{% endif %}>Display crossposting</label>
                        <input type="hidden" id="crosspost" name="crosspost" {% if settings.crosspost == true %}value="true"{% else %}value="false"{% endif %} />
                    </div>
                    
                    <div>
                        <label for="develMode">
                        <input type="checkbox" id="develMode" name="develMode" {% if settings.devMode == true %}checked{% endif %}>Developer mode</label>
                        <input type="hidden" id="devMode" name="devMode" {% if settings.devMode == true %}value="true"{% else %}value="false"{% endif %} />
                    </div>
                </div>
                
                <div>
                    <label for="api">API Endpoint</label>
                    <select name="api" id="api">
                        {% for node in nodes %}<option value="{{ node }}" {% if node == settings.api %}selected{% endif %}>{{ node }}</option>{% endfor %}
                    </select>
                </div>
                
            </div>
        </article>
		<input type="submit" value="Save">
	</form>
</div>

{% endblock %}

{% block scripts %}
<script>
	$(function() {
        $('#develMode').on('change', function() {
            if($(this).prop('checked')) {
                $('#devMode').val(true);
            } else {
                $('#devMode').val(false);
            }
        });
        $('#cross').on('change', function() {
            if($(this).prop('checked')) {
                $('#crosspost').val(true);
            } else {
                $('#crosspost').val(false);
            }
        });
        
		if($('#displayTypes option:selected').val() == 'tag') {
			$('#tagPosts').show();
		};
		$( "#displayTypes" ).change(function() {
			if($('#displayTypes option:selected').val() == 'tag') {
				$('#tagPosts').show();
			} else $('#tagPosts').hide();
		});
	});
</script>
{% endblock %}
