{% extends "admin/admin-layout.html" %}

{% block styles %}
<style>
	.center{text-align:center}
</style>
{% endblock %}

{% block content %}
    <h2>Themes</h2>
    
    <div class="grid">
        {% for theme in themes %}
        <article class="center">
            <h3>{{ theme|capitalize }}</h3>
            {% if theme == settings.theme %}
            <a role="button" class="secondary" disabled>Selected</a>
            {% else %}
            <a role="button" href="{{url_for('admin-savetheme', {theme: theme}) }}">Select</a>
            {% endif %}
            <hr>
            <img src="/themes/{{ theme }}/screenshot.jpg" alt="screenshot of {{ theme|capitalize }}">
        </article>
        {% endfor %}
    </div>
    
{% endblock %}

{% block scripts %}
{% endblock %}
