{% extends "admin/admin-layout.html" %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<style>
	.lightning button{color:black;}
    .editor-toolbar > button {
        width: 30px !important;
    }
</style>
{% endblock %}

{% block content %}
<h3>New Page</h3>

<label for="pageTitle">Title</label>
<input name="pageTitle" id="pageTitle" type="text" placeholder="Make a great title for this page :)" {% if pageTitle %}value="{{ pageTitle }}"{% endif %}>

<article class="lightning" data-theme="light">
	<textarea id="mde" name="mde">{% if pageContent %}{{ pageContent }}{% endif %}</textarea>
</article>

<div id="results" class="w-full text-center">

{% if pageContent %}
<div class="grid">
	<button id="pageDelete">Delete</button>
	<button id="pageCreate">Update</button>
</div>
{% else %}
<div>
	<button id="pageCreate">Create</button>
</div>
{% endif %}

			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
	var easyMDE = new EasyMDE({
		element: $('#mde')[0],
		spellChecker: false
	});

	$(function() {
        $('#pageCreate').on('click tap', function(event) {
            event.preventDefault();
            var title = $('#pageTitle').val();
            var mde = easyMDE.value();
            $.post(
                "{{ url_for('admin-savepage') }}",
                { title: title, mde: mde }
            ).done(function(data) {
                if (data == "Error") {
                    $('#results').text('An error has occured !');
                } else {
                    $('#results').html('Congrats! Your page is here : <a target="_blank" href="'+data+'">'+data+'</a>');
                }
            }).fail(function(xhr, status, error) {
                obj = JSON.stringify(xhr);
                console.log("XHR: "+obj);
                console.log("Status: "+status);
                console.log("Error: "+error);
            });

        });

        $('#pageDelete').on('click tap', function(event) {
            event.preventDefault();
            var title = $('#pageTitle').val();
            var mde = easyMDE.value();
            $.get(
                "{{ url_for('admin-delpage', {'file': pageFile }) }}",
                { title: title, mde: mde },
                function(data) {
                    if (data == "Error") {
                        $('#results').text('An error has occured !');
                    } else {
                        $('#results').html('Congrats! Your page is now deleted from your server');
                    }
                }
            );
        });

	});
</script>
{% endblock %}
