{% extends "admin/admin-layout.html" %}

{% block content %}
<h1>Posts</h1>

<a role="button" href="{{ url_for('admin-newpost') }}">Create new post on Blockchain</a>
<hr>

<h2>Last posts:</h2>
<p>Click on a title to edit your post</p>
<div>
{% if posts %}
<ul>
{% for post in posts %}
{% if post.author == settings.author %}
	<li><a href="{{ url_for('admin-editpost', {posted : post.permlink}) }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% else %}
No posts found. You can create one by press "Create new post" button
{% endif %}
</div>
{% endblock %}
