{% extends settings.theme ~ "/layout.html" %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
<div>
  <article id="post">
		<p> Date: {{ article.created|date("m/d/Y") }} - Upvotes : {{article.active_votes|length}} - Words : {{article.body|split(' ')|length }}</p>
		<h1>{{article.title}}</h1>
		<div id="markdown">{{ article.body | raw }}</div>
		<hr />
		<div id="tags">
			Tags :
			{% for tag in metadata.tags %}
				<span>{{ tag }}</span>
			{% endfor %}
		</div>
	</article>

	<section>
		<p class="title">Vote for this article</p>
		<div>
			<label for="hiveAccount">Your HIVE account :</label>
			<input name="username" id="hiveAccount" type="text" placeholder="Your HIVE username">
		</div>

		<div>
			<label for="upvote">Select your voting power :</label>
			<input type="range" min="1" max="100" value="50" class="slider" id="upvote" oninput="votingPower.value = this.value">
			<div class="output">
				<output id="votingPower">50</output>%
			</div>
		</div>
		<div id="voteError"></div>
		<button id="upBtn">Upvote</button>
	</section>

  <div>
		<div>
			<h2>Comments :</h2>
		</div>
		<div id="writeComment">
			<form>
				<div>
				  <label for="username">
				    Your HIVE Username (without @)
				  </label>
				  <input name="username" id="username" type="text" placeholder="Username">
				</div>
				<div>
				  <label>
				    Your comment
				  </label>
				  <textarea name="comment" id="comment" placeholder="Write your comment here"></textarea>
				</div>
				<button id="sendComment">Send your comment</button>
			</form>
			<div id="results"></div>
		</div>
		{% for reply in replies %}
		{% if reply.author_reputation > 0 %}
		<dl>
			<dt><a target="_blank" href="https://peakd.com/@{{reply.author}}">{{reply.author}}</a> :</dt>
			<dd>{{reply.body | raw}}</dd>
		</dl>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.onload = function () {
	if (typeof hive_keychain === 'undefined') {
		$('#writeComment').addClass('text-red-400 mb-6').html('You don\'t have Hive Keychain please install it for <a target="_blank" href="https://chrome.google.com/webstore/detail/hive-keychain/jcacnejopjdphbnjgfaaobbfafkihpep">Brave/Chrome</a> or <a target="_blank" href="https://addons.mozilla.org/en-GB/firefox/addon/hive-keychain/">Firefox</a>. Don\'t forget you need also a <a target="_blank" href="https://hive.io">HIVE</a> account')
	} else {
		$('#upBtn').on("click tap", function(event) {
			if ($("#hiveAccount").val().length == 0) {
				$('#voteError').text('Enter your HIVE username')
				return
			}
			hive_keychain.requestVote(
		    $("#hiveAccount").val(),
		    "{{ article.permlink }}",
		    "{{ article.author }}",
		    ($("#votingPower").val()*100),
		    function (response) {
		      $('#voteError').text(response.message);
		    }
		  );
		});
		$('#sendComment').on("click tap", function(event) {
			event.preventDefault();
			hive_keychain.requestHandshake(function() {
				// Define vars
				account = $('#username').val();
				title = '';
				body = $('#comment').val();
				parent_permlink = '{{ article.permlink }}';
				parent_author = '{{ article.author }}';
				json_metadata = JSON.stringify({app: "SuperHive"});
				permlink = 'sh'+Math.random().toString(36).substring(2);
				comment_options = '';

				// Post them !
				hive_keychain.requestPost(
					account,
					title,
					body,
					parent_permlink,
					parent_author,
					json_metadata,
					permlink,
					comment_options,
					function(response) {
						$('#results').text(response.message);
					}
				);
			});
		});
	}
}
</script>
{% endblock %}
