<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - {{ settings.title }}</title>
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&display=swap">
  <link rel="stylesheet" href="/themes/{{ settings.theme }}/style.css">
{% include '/meta.html' %}
</head>
<body>
	<div class="container">
		<header>
			<a href="/" title="Florent Kosmala Blog">
				&nbsp;{{ settings.title|upper }}</a>
				<span class="float-right">
					Follow me : 
					{% if settings.social.twitter %}<a target="_blank" href="http://twitter.com/{{settings.social.twitter}}"><span class="im im-twitter"></span></a>{% endif %}
					{% if settings.social.facebook %}<a target="_blank" href="http://facebook.com/{{settings.social.facebook}}"><span class="im im-facebook"></span></a>{% endif %}
					{% if settings.social.instagram %}<a target="_blank" href="http://instagram.com/{{settings.social.instagram}}/"><span class="im im-instagram"></span></a>{% endif %}
					{% if settings.social.linkedin %}<a target="_blank" href="http://linkedin.com/in/{{settings.social.facebook}}"><span class="im im-linkedin"></span></a>{% endif %}
				</span>
		</header>
		
		<div class="center">
			<h1 class="title">
				<a class="logo" href="{{ url_for('index') }}">{{ settings.title }}</a>
			</h1>
			<p class="baseline">{{ settings.baseline }}</p>
		</div>
		
		<hr />
	</div>
	
	<main class="container">
		{% block content %}{% endblock %}
	</main>
	
	<div class="clear">&nbsp;</div>
	
	<footer class="container">
		<div class="row">
			<div class="column center">
				<img src="/themes/{{ settings.theme }}/superhive-qrcode.png" alt="SuperHive QR Code">
			</div>
			<div class="column">
			</div>
			<div class="column">
				Follow us :
				<ul class="follow">
					{% if settings.social.twitter %}
						<li>
							<a target="_blank" href="http://twitter.com/{{settings.social.twitter}}">
								<span class="im im-twitter"></span> Twitter
							</a>
						</li>
					{% endif %}
					{% if settings.social.facebook %}
						<li>
							<a target="_blank" href="http://facebook.com/{{settings.social.facebook}}">
								<span class="im im-facebook"></span> Facebook
							</a>
						</li>
					{% endif %}
					{% if settings.social.instagram %}
						<li>
							<a target="_blank" href="http://instagram.com/{{settings.social.instagram}}/">
								<span class="im im-instagram"></span> Instagram
							</a>
						</li>
					{% endif %}
					{% if settings.social.linkedin %}
						<li>
							<a target="_blank" href="http://linkedin.com/in/{{settings.social.linkedin}}/">
								<span class="im im-linkedin"></span> LinkedIn
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</footer>
	
	<div id="bottom">
		<div class="container center">
					This blog is based on <a target="_blank" href="https://github.com/fkosmala/superhive">SuperHive</a> - <strong>Journal Theme</strong> made by <a target="_blank" href="https://twitter.com/FlorentKosmala">Florent Kosmala</a>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cash/7.0.1/cash.min.js" integrity="sha256-cP4vwprtrs4i6th5S3ysmrRUfhdEyHA5MlBxaOwQ+/s=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha256-jl1+DOsSs9uABTKppOJ2GF8kXoc3XQzBtFFyS0i9Xoo=" crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
