{% extends "journal/layout.html" %}

{% block content %}
	<p class="published">Published : {{ article.created|date("m/d/Y") }} - Upvotes : {{article.active_votes|length}} - Words : {{article.body|split(' ')|length }}</p>
	<h2>{{article.title}}</h2>
	
  <article>{{ article.body }}</article>
  
  <div class="social center">Like the content ? Don't forget to share : 
		<a target="_blank" href="http://twitter.com/share?text=Visit this page&url={{ get_uri() }}&hashtags=superhive,">
			<span class="im im-twitter"></span>
		</a>
		&nbsp;
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ get_uri() }}">
			<span class="im im-facebook"></span>
		</a>
	</div>
  
  <div class="center">
    <a class="button button-black" href="{{ url_for('index') }}">Return to Home</a>
  </div>
  
  <hr />
  <h2>Comments :</h2>
  {% for reply in replies %}
	<dl>
		<dt><a target="_blank" href="https://peakd.com/@{{reply.author}}">{{reply.author}}</a> :</dt>
		<dd>{{reply.body}}</dd>
	</dl>
  {% endfor %}
  
{% endblock %}

{% block scripts %}
<script>
  $(function() {
    converter = new showdown.Converter();
    
    $('article').html(converter.makeHtml($('article').text()));
    $('dd').each(function( index ) {
			$(this).html(converter.makeHtml($(this).text()));
		});

  });
</script>
{% endblock %}
