<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
	<link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

  <style>
    html, body {margin: 0;padding: 0;}

		/* Navigation */
    nav {
      background-color: #EEE;
			box-shadow: 0 8px 6px -6px #BBB;
    }
    nav ul {list-style-type: none;}
    nav li {
      display: inline-block;
      padding: 1%;
			cursor: pointer;
    }
		nav .active {border-bottom: 3px solid #9b4dca !important;}
		nav a .im {vertical-align: middle;}

		/* Other */
    .warning {color: #A00;}
		.d-none {display:none !important;}
		.center {text-align:center;}
		
		/* fix for Editor with Milligram */
		.tui-scrollsync, .te-switch-button {
			line-height: 0;
			width: inherit !important;
		}
		
		#post_result {
			background: #9b4dca;
			color: white;
			font-weight: bold;
			border-radius: 10px;
			text-align: center;
			padding: 1%;
		}

  </style>
</head>

<body>
	<nav class="navigation">
    <section class="container">
      <ul>
				<li><a href="{{ url_for('index') }}"><i class="im im-home"></i></a></li>
        <li data-open="general" class="active">General</li>
        <li data-open="seo">SEO</li>
        <li data-open="system">System</li>
				<li data-open="article">New article</li>
      </ul>
    </section>
  </nav>

	<main class="container">
    <form method="post" action="{{ url_for('save') }}">
			<section id="general">
				<div class="row">
					<div class="column">
						<h2>General</h2>
					</div>
				</div>
				<div class="row">
					<div class="column">
						
						<fieldset>
							<label for="author">Author HIVE name (without @)</label>
							<input type="text" placeholder="Author HIVE name" id="author" name="author" value="{{ settings.author }}">

							<label for="title">Website title</label>
							<input type="text" placeholder="Title" id="title" name="title" value="{{ settings.title }}">

							<label for="baseline">Baseline</label>
							<input type="text" placeholder="Baseline" id="baseline" name="baseline" value="{{ settings.baseline }}">
						</fieldset>
					</div>
					
					<div class="column">
						<fieldset>
							<label for="theme">Theme</label>
							<select id="theme" name="theme">
								{% for theme in themes %}
									<option value="{{ theme }}" {% if theme == settings.theme %}selected{% endif %}>{{ theme }}</option>
								{% endfor %}
							</select>
							
							<label for="nextbutton">Redirect button text</label>
							<input type="text" placeholder="redirect button text" id="nextbutton" name="nextbutton" value="{{ settings.nextbutton }}">

							<label class="label" for="crosspost">Display crosspost ?</label>
							Check if you want to display crosspost : <input type="checkbox" id="crosspost" name="crosspost" {% if settings.crosspost == true %}checked{% endif %}>
						</fieldset>
					</div>
					
				</div>
			</section>

			<section id="seo" class="d-none">
				<div class="row">
					<div class="column">
							<h2>Social</h2>
					</div>
				</div>
				<div class="row">
					<div class="column">
							<fieldset>
								<label for="socialDesc">Website description (for Facebook and Twitter markup)</label>
								<input type="text" placeholder="Description" id="socialDesc" name="socialDesc" value="{{ settings.social.description }}">

								<label for="socialImage">Link to social Image (for Facebook and Twitter)</label>
								<input type="text" placeholder="Description" id="socialImage" name="socialImage" value="{{ settings.social.image }}">

								<label for="twittername">Twitter account name (without @)</label>
								<input type="text" placeholder="Twitter name" id="twittername" name="twittername" value="{{ settings.social.twittername }}">
							</fieldset>
						</div>
				</div>
			</section>

			<section id="system" class="d-none">
				<div class="row">
					<div class="column">
						<h2>System</h2>
						<p class="warning">Change these settings only if you know what you do !</p>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<fieldset>
							<label for="api">Hive API link</label>
							<input type="text" placeholder="Insert Hive API endpoint" id="api" name="api" value="{{ settings.api }}">
						</fieldset>
					</div>
					<div class="column">
						<fieldset>
							<label class="label" for="cron">Enable / Disable Cron</label>
							Check if you want to enable cron : <input type="checkbox" id="cron" name="cron" {% if settings.cron == true %}checked{% endif %}>
						</fieldset>
					</div>
				</div>
			</section>

			<section id="article" class="d-none">
				<input id="post_author" type="hidden" value="{{ settings.author }}">
				<div class="row">
					<div class="column">
						<h2>New article</h2>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<div id="post_result" class="d-none"></div>
						<label for="post_title">Title</label>
						<input type="text" placeholder="Article Title" id="post_title">
						<label for="editor">Write your article</label>
						<div id="editor"></div>
						<label for="post_tags">Tage</label>
						<input type="text" placeholder="between 5 and 8 tags (separated by SPACE)" id="post_tags">
					</div>
				</div>
			</section>

			<div class="center">
          <input id="save" class="button-primary" type="submit" value="Save">
					<input id="create" class="d-none button-primary" type="button" value="Create">
      </div>
    </form>
    
    <div id="resultat"></div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/7.0.1/cash.min.js" integrity="sha256-cP4vwprtrs4i6th5S3ysmrRUfhdEyHA5MlBxaOwQ+/s=" crossorigin="anonymous"></script>
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script>
		const Editor = toastui.Editor; 
		const editor = new Editor({
			el: document.querySelector('#editor'),
			initialEditType: 'markdown',
		  previewStyle: 'vertical',
			height: 500
		});
    $(function() {	
      // Tabs for Administration
      $("nav li").on('click tap', function() {
        var open = $(this).data('open');
				if (open == "article") {
					$("#save").addClass("d-none");
					$("#create").removeClass("d-none");
				} else {
					$("#create").addClass("d-none");
					$("#save").removeClass("d-none");
				}
        $("nav li").removeClass('active');
        $(this).addClass('active');
        $("main section").addClass("d-none");
        $("#"+open).removeClass("d-none");
      });
      
      
      $("#create").on('click tap', function() {
				account = $('#post_author').val();
				title = $('#post_title').val();
				slug = title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-')+'-'+Math.random().toString(36).substring(2);
				body = editor.getMarkdown();
				tags = $('#post_tags').val();
				taglist = tags.split(' ');
				json_metadata = JSON.stringify({ tags: taglist });
				hive_keychain.requestHandshake(function() {
					hive_keychain.requestPost(
						account,
						title,
						body,
						taglist[0],
						'',
						json_metadata,
						slug,
						"", // Comment_options TO DO
						function(response) {
							console.log("main js response - post");
							console.log(response);
							$('#post_result').text(response.message).removeClass("d-none");
						}
					);
				});
			});
    });
</script>
</body>
</html>
