<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuperHive Installation</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <style>
	  .text-center {text-align: center;} 
  </style>
</head>
<body>
  <main class="container">
    <h1>SuperHive Installer</h1>
    <p>Welcome to your new fresh installation of SuperHive</p>

    <article>
      <h2>Server requirements</h2>
      <p>SuperHive check the minimal requirements to run.</p>
      {% for req in requirements %}
        {% if req.status == "success" %}
        <p><ins>{{ req.message }}</ins></p>
        {% else %}
          <p><mark>{{ req.message }}</mark></p>
        {% endif %}
      {% endfor %}
    </article>
    
    <article>
		<h2>Client requirement</h2>
		<h3>Hive account</h3>
		<p>SuperHive needs an HIVE blockchain account to work. If you don't have it, please create it.</p>
		<p>Choose the best service for you to create an account :</p>
		<div class="grid">
			<article>
				<header>Ecency</header>
				Instant creation
				E-mail verification
				Free
				<a role="button" href="https://ecency.com/signup?referral=superhive" target="_blank">Create your account</a>
			</article>
			<article>
				<header>HiveOnboard</header>
				Instant creation
				Phone number verification
				Free
				<a role="button" href="https://hiveonboard.com/create-account?ref=superhive" target="_blank">Create your account</a>
			</article>
		</div>
		<h3>Hive Keychain extension</h3>
		<p>SuperHive doesn't store any passwords/keys (for security reasons). All features are based on Hive Keychain extension.</p>
		<a href="https://hive-keychain.com/" target="_blank"><img src="./heychain.png" alt="Get Hive Keychain"></a>
	</article>

    <article>
      <h2>Identification</h2>
      <p>You can choose a Username and a password for administration panel connexion.</p>
      <form action="{{ url_for('install') }}" method="post">
        <div class="grid">
          <div>
            <label for="username">Username : </label>
          	<input type="text" placeholder="Choose your username" id="username" name="username">
          </div>
          <div>
            <label for="passwd">Password : </label>
          	<input type="password" placeholder="Choose a good password" id="passwd" name="passwd">
          </div>
        </div>
      	<input type="submit" value="Finish">
      </form>
    </article>
  </main>

</body>
</html>
