  <meta name="description" content="{{ settings.social.description }}"/>

  <meta property="og:title" content="{{ settings.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ full_url_for('index') }}" />
  <meta property="og:image" content="{{ settings.social.image }}">
  <meta property="og:description" content="{{ settings.social.description }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ settings.social.twitter }}" />
  <meta name="twitter:title" content="{{ settings.title }}" />
  <meta name="twitter:description" content="{{ settings.social.description }}" />
  <meta name="twitter:image" content="{{ settings.social.image }}" />
  
  <link rel="alternate" type="application/rss+xml" title="Subscribe to {{ settings.author }}" href="{{ full_url_for('feed') }}" />
